@model Consigueloo.Models.IndexViewModel
@{
    ViewBag.Title = "Administrar";
}



<div class="container" style="padding-top:50px">

    <div class="row">
        <div class="col-md-12">
            <h5>Administrar.</h5>
            <p class="text-success"></p>
            <div class="card-header color-blue3">
                <strong> <i class="fas fa-user color-green"></i> Cambiar la configuración de la cuenta</strong>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <strong>Contraseña:</strong>
                    <br>
                    <hr>
                    <button class="btn bg-white color-blue shadow-button">
                        @if (!Model.HasPassword)
                        {
                            <a href="/Manage/SetPassword">Crear contraseña</a>
                        }
                        else
                        {
                            <a href="/Manage/ChangePassword">Cambiar la contraseña</a>
                        }

                    </button>
                </div>
            </div>

            <div class="row" style="margin-top:20px">
                <div class="col-md-12">
                    <h5>Administrar anuncios.</h5>
                    <br>
                    <div id="anunciosPendientesdiv">

                        <div class="card-header color-blue3"><svg class="svg-inline--fa fa-table fa-w-16 mr-1 color-green" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM224 416H64v-96h160v96zm0-160H64v-96h160v96zm224 160H288v-96h160v96zm0-160H288v-96h160v96z"></path></svg><!-- <i class="fas fa-table mr-1 color-green"></i> --><strong>Anuncios pendientes por crear</strong></div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <tbody>
                                        <tr class="color-blue3">
                                            <th>
                                                Nombre de anuncio
                                            </th>

                                            <th>
                                                Referencia de pago
                                            </th>
                                            <th>
                                                Núm. de transacción
                                            </th>
                                            <th>Acciones</th>
                                        </tr>
                                        @if (Model.anunciosPendientes.Count == 0)
                                        {
                                            <tr>
                                                <td colspan="4">No hay elementos para mostrar</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.anunciosPendientes)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.tipoAnuncio.nombre.nombre)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.pago.reference)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.pago.id)
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-primary" href="/Anuncios/Anuncios/Create/@item.id?PayReference=@item.pago.reference">
                                                            Crear
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-12">
                    <div id="anunciosActivosdiv">

                        <div class="card-header color-blue3"><svg class="svg-inline--fa fa-table fa-w-16 mr-1 color-green" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM224 416H64v-96h160v96zm0-160H64v-96h160v96zm224 160H288v-96h160v96zm0-160H288v-96h160v96z"></path></svg><!-- <i class="fas fa-table mr-1 color-green"></i> --><strong>Tus Anuncios en Consigueloo</strong></div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <tbody>
                                        <tr class="color-blue3">
                                            <th>
                                                Título
                                            </th>

                                            <th>
                                                Fecha cancelación
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                            <th>Acciones</th>
                                        </tr>

                                        @if (Model.anuncios.Count == 0)
                                        {
                                            <tr>
                                                <td colspan="4">No hay elementos para mostrar</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.anuncios)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.titulo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.fechaCancelacion)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.nombreContacto)
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-success" href="">
                                                            Renovar
                                                        </a>
                                                        <a class="btn btn-danger" href="">
                                                            Borrar
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<script>
    function Borrar(id) {
        ActivarLoader();
        $.ajax({
            type: "POST",
            url: '/Usuarios/Usuarios/Delete',
            datatype: "json",
            contentType: 'application/json',
            data: JSON.stringify({ "id": id }),
            success: function (r) {
                $("#dvcontent").html(r);
                DesactivarLoader();
            },
            error: function (r) {
                $("#dvcontent").html(r);
                DesactivarLoader();
            }
        });
    }
    function saveId(id) {
        ActivarLoader();
        console.log(id);
        $.ajax({
            type: "POST",
            url: '/Usuarios/Usuarios/SaveId',
            datatype: "json",
            contentType: 'application/json',
            data: JSON.stringify({ "id": id }),
            success: function (r) {

            },
            error: function (r) {

            }
        });
    }
</script>