@model Model.ViewModel.PeriodosDTO

@Html.Hidden("RedirectTo", Url.Action("Index", "Periodos"))
<h4>Detalle de información de periodo</h4>

<div class="box" style="padding:15px; margin-left:10px;">
    <dl class="dl-horizontal ">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
</div>

<script type="text/javascript" charset="UTF-8">
   $(document).ready(function() {
        if ("!@string.IsNullOrEmpty(ViewBag.message)") {
            $.notify.defaults({ className: "@ViewBag.level" });
            $.notify(
                "@Html.Raw(ViewBag.message)",
                {
                    position: "top Center"
                }
            );
      }
    });

    $('#mdlCtrl').on('hidden.bs.modal', function () {
        var url = $("#RedirectTo").val();
        ActivarLoader();
         window.location.href = url;
    })
</script>


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


