@model IEnumerable<Model.ViewModel.AnuncioDTO>

<div id="render-ads" class="container-fluid render-anuncios">

    <div class="render-anuncios">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4  mb-3">

                    @if (item.actImagen == true)
                    {
                        <div class="card h-100" data-toggle="modal" data-target="#anuncioModal" onclick="showSelected(@item.id)">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#"><img class="card-img-top" src="@item.path" alt=""></a>
                                </div>
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <h3 class="card-title color-blue3">
                                            Descripción
                                        </h3>
                                        <p class="card-text">@item.descripcion</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    
                                    @if (item.actCatalogo == true)
                                    {
                                        <div class="flex-end">
                                            <a href="@Url.Action("Catalogo", "Anuncios", new { id=item.id, area = "Anuncios" })" class="navbar-link float-right color-blue " onclick="ActivarLoader()">Catálogo</a>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="card h-auto  center-from-top " data-toggle="modal" data-target="#anuncioModal" onclick="showSelected(@item.id)">
                            <div class="row">
                                <div class="col-md-12">
                                    
                                </div>
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <h3 class="card-title color-blue3">
                                            Descripción
                                        </h3>
                                        <p class="card-text">@item.descripcion</p>
                                    </div>
                                </div>
                                
                            </div>
                            </div>
                                }


                            </div>
            }
        </div>
    </div>
</div>






