@model IEnumerable<Model.ViewModel.AnuncioDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="render-ads" class="container">
        <div class="row pad-bot">
            <div class="col-md-12">
                <h2 class="color-blue3 pad-top3">Anuncios</h2>
            </div>
            <div class="col-md-12 ">
                @if (string.IsNullOrEmpty(ViewBag.Funcion))
                {
                    <h4>Anuncios en Consigueloo</h4>
                }
                else
                {

                    <h4>@ViewBag.Funcion "@ViewBag.Busqueda"</h4>
                }
            </div>
        </div>
        <div class="row pad-bot2">
            <div class="col-12">
                <h5>Buscar</h5>

            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" onkeyup="inputKeyUp(event)" id="searchField" class="form-control" placeholder="Búsqueda..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary find-btn" type="button" id="srchButton" onclick="BuscarEnAnuncios()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                @Html.DropDownList("categoriasInput", (SelectList)ViewBag.Categorias, new { @class = "form-control", onchange = "Filter()" })

            </div>
            <div class="col-md-4">

                @Html.DropDownList("localidadesInput", (SelectList)ViewBag.Localidades, new { @class = "form-control", onchange= "Filter()" })

            </div>
        </div>
        <div class="row pad-bot" id="anunciosdiv">
            @Html.Partial("_Display", Model)
         </div>

        </div>

        <!-- Logout Modal-->
        <div class="modal fade " id="anuncioModal" tabindex="-1" role="dialog" aria-labelledby="showSelected" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="container-fluid modal-card" id="showSelected">


                    </div>
                </div>
            </div>
        </div>

        <script>
        function showSelected(id) {

        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("ShowSelected", "Anuncios")',
                datatype: "json",
                contentType: 'application/json',
                data: JSON.stringify({ "id": id }),
                success: function (res) {
                    $("#showSelected").html(res);

                }

            });

    }

        </script>
        <script>

            function BuscarEnAnuncios() {
                ActivarLoader();
                var busquedaModel = document.getElementById("searchField");
                var busqueda = busquedaModel.value;
                $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("Buscar", "Anuncios", new { area = "Anuncios" })',
                        datatype: "json",
                        contentType: 'application/json',
                        data: JSON.stringify({ "busqueda": busqueda }),
                        success: function (res) {
                            var newDoc = document.open("text/html", "replace");
                            newDoc.write(res);
                            newDoc.close();
                        }
                    });
            }

    function inputKeyUp(e) {
        e.which = e.which || e.keyCode;
        if (e.which == 13) {
            BuscarEnAnuncios();
        }
    }
             function Filter() {
                ActivarLoader();
                var localidadModel = document.getElementById("localidadesInput");
                 var idLocalidad = localidadModel.value;
                 var categoriaModel = document.getElementById("categoriasInput");
                 var idcategoria = categoriaModel.value;
                $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("Filter", "Anuncios", new { area = "Anuncios" })',
                        datatype: "json",
                        contentType: 'application/json',
                        data: JSON.stringify({ "idLocalidad": idLocalidad, "idcategoria": idcategoria }),
                        success: function (res) {
                            console.log(res);
                            var newDoc = document.open("text/html", "replace");
                            newDoc.write(res);
                            newDoc.close();
                        }
                    });
            }
            function FilterByLocalidad() {
                ActivarLoader();
                var busquedaModel = document.getElementById("localidadesInput");
                var id = busquedaModel.value;
                console.log(id);
                $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("FilterByLocalidad", "Anuncios", new { area = "Anuncios" })',
                        datatype: "json",
                        contentType: 'application/json',
                        data: JSON.stringify({ "id": id }),
                        success: function (res) {
                            console.log(res);
                            var newDoc = document.open("text/html", "replace");
                            newDoc.write(res);
                            newDoc.close();
                        }
                    });
            }

            function FilterByCategory() {
                ActivarLoader();
                var busquedaModel = document.getElementById("categoriasInput");
                var id = busquedaModel.value;
                console.log(id);
                $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("FilterByCategory", "Anuncios", new { area = "Anuncios" })',
                        datatype: "json",
                        contentType: 'application/json',
                        data: JSON.stringify({ "id": id }),
                        success: function (res) {
                            console.log(res);
                            var newDoc = document.open("text/html", "replace");
                            newDoc.write(res);
                            newDoc.close();
                        }
                    });
            }
        </script>
