@model Model.CatalogoEmpresa.CatalogoEmpresa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <h2>Borrar</h2>

    <h3>¿Confirma que desea borrar esta página?</h3>
    <div>
        <h4>Catálogo Consigueloo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nombre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreProducto)
            </dd>
            <dt>
                Página
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pagina)
            </dd>

            <dt>
                Imagen
            </dt>

            <dd>
                <img src="../@Model.imagePath" class="img-preview" />
            </dd>

            <dt>
                Link de whatsapp
            </dt>

            <dd>
                <a href="@Html.DisplayFor(model => model.whatsappLink)" target="_blank">@Html.DisplayFor(model => model.whatsappLink)</a>
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions color-white">
                <input type="submit" value="Borrar" class="btn btn-danger" /> 
                <input type="button" value="Cancelar" class="btn btn-secondary" onclick="location.href='@Url.Action("Index","CatalogoEmpresas")'" />
            </div>
        }
    </div>

</div>
<style>

    .img-preview{
        position:relative;
        width:35%;
        height:auto;
        top:0;
        border-radius:15px;
    }
</style>