@model IEnumerable<Model.CatalogoEmpresa.CatalogoEmpresa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-md-12">
            <h3>Administrar catalogo.</h3>
            <br/>
            <p>
                <button class="btn btn-primary btn-sm" id="btnNuevo" onclick="location.href='@Url.Action("CreateOrUpdate","CatalogoEmpresas")'">
                    Nueva página
                </button>
            </p>
            <div id="anunciosPendientesdiv">
                <div class="card-header color-blue3">
                    <strong> <i class="fas fa-table color-green"></i> Imágenes del catálogo</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table table-striped" id="table" width="100%" cellspacing="0">
                            <tbody>
                                <tr class="color-blue3">
                                    <th>
                                        Título Imagen
                                    </th>
                                    <th>
                                        Imagen
                                    </th>
                                    <th>
                                        Página
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                                @if (Model.ToList().Count == 0)
                                {
                                    <tr>
                                        <td colspan="4">No hay elementos para mostrar</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr draggable="true" ondragstart="start()"  ondragover="dragover()"  style="height: 0;">
                                            <td hidden>
                                                @Html.DisplayFor(modelItem => item.id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.nombreProducto)
                                            </td>
                                            <td>
                                                <img src="@item.imagePath" alt="@item.nombreProducto" style="height:450px; width:600px"/>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.pagina)
                                            </td>
                                            <td>
                                                <a class="btn btn-primary"  onclick="location.href='@Url.Action("CreateOrUpdate","CatalogoEmpresas", new { id = item.id})'">
                                                    Editar
                                                </a>
                                                <a class="btn btn-primary" onclick="location.href='@Url.Action("Delete","CatalogoEmpresas", new { id = item.id})'">
                                                    Borrar
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                                