@model Model.ViewModel.UsuariosDTO

@Html.Hidden("RedirectTo", Url.Action("Index", "Usuarios"))
<h4>Detalle de información de Razón Social</h4>
<div class="box" style="padding:15px">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>
       

    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol.nombre)
        </dd>


    </dl>
</div>

<script type="text/javascript" charset="UTF-8">
    @*$(document).ready(function() {
        if ("@ViewBag.message.length" > 0) {
            console.log("@ViewBag.message.length");
            $.notify.defaults({ className: "@ViewBag.level" });
            $.notify(
                "@Html.Raw(ViewBag.message)",
                {
                    position: "top Center"
                }
            );
      }
    });*@

    $('#mdlCtrl').on('hidden.bs.modal', function () {
        var url = $("#RedirectTo").val();
        ActivarLoader();
         window.location.href = url;
    })
</script>


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


